body {
    background-image: url("images/background.jpg");
    background-size: 100% 120%;
    background-repeat: no-repeat;
    font-family: helvetica;
}

fieldset {
    background-color: rgba(43, 43, 43, 0.9);
    border: solid 2px rgb(34, 34, 34);    
    border-radius: 5%;
    padding: 20px;

    height: 600px;
    width: 350px;
    margin: 10px auto;

    text-shadow: 2px 2px #000;
    box-shadow: 2px 5px 10px #000;
}

h1, h2, h3 {
    color: white;
}

button {
    background-color: darkred;
    border: none;
    padding: 25px 130px;
    border: .5px solid black;
    border-radius: 1%;
    font-weight: bold;
    margin: 50px 0;

    box-shadow: 3px 3px 5px black;
}

button:hover {
    background-color: rgb(112, 0, 0);
}

button:active {
    position: relative;
    top: 1px;
}

#header {
    padding-bottom: 25px;
    border-bottom: 1px solid rgb(29, 29, 29);
}

.minor-text {
    color: white;
    font-weight: bold;
    text-shadow: none;
}

#totalTip {
    font-size: 25px;
    display: block;
}